@model IEnumerable<TasksList.Models.TaskEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Tasks List</h2>

<div class="btn-group">
    <a href="@Url.Action("Create")" class="myProvider btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add Task
    </a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.Id })" class="myProvider btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i> Edit
            </a>
           
            <a href="@Url.Action("Delete", new { id=item.Id })" class="myProvider btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </td>
    </tr>
}

</table>
