@model IEnumerable<TasksList.Models.TaskEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Tasks List</h2>

<div class="btn-group">
    <a href="@Url.Action("Create")" class="myProvider btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add Task
    </a>
</div>

@foreach (var item in Model) {
    <div class="well">
        <h3>
            <strong>@item.Date</strong>
            <strong>@item.Header</strong>
            <strong>@item.IsDone</strong>
            <a href="@Url.Action("Edit", new { id=item.Id })" class="myProvider btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i> Edit
            </a>

            <a href="@Url.Action("Delete", new { id=item.Id })" class="myProvider btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </h3>
        <span class="lead">@item.Text</span>
    </div>
}
