@model PagedList.IPagedList<TasksList.Models.TaskEntity>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Tasks List</h2>

<div class="btn-group">
    <a href="@Url.Action("Create")" class="myProvider btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add Task
    </a>
</div>

@foreach (var item in Model)
{
    @Html.Partial("_TaskFromList", item)
@*<div class="well">
    <div class="row">
        <div class="col-md-9">
            <h3>
                <strong>@item.Date</strong>
                <strong>@item.Header</strong>
            </h3>
        </div>
        <div class="col-md-3" align="right">
            <h3>
                @if (item.IsDone == true)
                {
                    <strong>DONE</strong>
                }

                <a href="@Url.Action("Edit", new { id=item.Id })" class="myProvider btn btn-info">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>

                <a href="@Url.Action("Delete", new { id=item.Id })" class="myProvider btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </a>
            </h3>
        </div>
    </div>
       
        <span class="lead">@item.Text</span>
  </div>*@

        }

        <br />

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        @section scripts
{
            <link href="~/Content/PagedList.css" rel="stylesheet" />
        }
